/* Estilo general para la página 2*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9; /* Fondo claro general */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Botón de WhatsApp flotante */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 700px;
    position: relative;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.promo {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
}

.product-section {
    padding: 20px;
    text-align: center;
    background-color: #85262d;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    width: 350px; /* Ancho de la tarjeta */
    height: 430px; /* Alto de la tarjeta */
    margin: 15px; /* Añade un margen alrededor de cada tarjeta */
    display: inline-block;
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    background-color: #f4f4f9; /* Fondo gris claro para la tarjeta */
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.05); /* Aumenta el tamaño ligeramente al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Incrementa la sombra al pasar el mouse */
}

.product-card img {
    width: 100%;
    height: 70%; /* Incrementa el tamaño de la imagen */
    object-fit: cover; /* La imagen cubre todo el área */
    margin: 0; /* Sin márgenes */
}

.product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0; /* Añade más espacio entre la imagen y los detalles */
    background-color: #f4f4f9; /* Mantiene el mismo color que el fondo de la tarjeta */
}

.product-name,
.product-price {
    font-size: 16px;
    font-weight: bold;
    margin: 44px 20px; /* Añade un pequeño margen para que el texto no esté pegado al borde */
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
}

.modal-content {
    background-color: #fff;
    margin: 1% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    text-align: center;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-image {
    max-height: 670px;
    max-width: 100%;
    margin-bottom: -15px;
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #25D366; /* Color de WhatsApp */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.contact-button:hover {
    background-color: #128C7E; /* Color más oscuro al pasar el mouse */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
